.triple > div {
	float:left;
	margin: 35px;
	padding:10px;
	border:solid 2px; 
	border-radius:15px;
	width:25%;

}

.triple {
	float: left;
	margin-top:10px;
	width:90%;
}

.subject{
	background-color:orange;
}

.predicate {
	background-color:grey;
}

.uri {
	color: white;
	background-color:blue;
}

.literal {
	color: black;
	background-color:none;
}



